<%# Informational: your password was changed %>
<%= render partial: "devise/mailer/_card_email",
           locals: { title: "Your password was changed",
                     body_html: "This is a confirmation that your Utila account password has been changed.",
                     cta_text: nil, cta_url: nil,
                     footer_html: "If you didn’t make this change, <a href='#{new_password_url(@resource)}' style='color:#4F5BFF;'>reset your password</a>." } %>