<%# Sent when a user requests a password reset %>
<% url = edit_password_url(@resource, reset_password_token: @token) %>
<%= render partial: "devise/mailer/_card_email",
           locals: { title: "Reset your password",
                     body_html: "We received a request to reset your password. Click the button to set a new one.",
                     cta_text: "Set new password",
                     cta_url: url,
                     footer_html: "If you didn’t request this, you can safely ignore this email.<br>If the button doesn’t work, use this link:<br><a href='#{url}' style='color:#4F5BFF;'>#{url}</a>" } %>